.tasks {
  font-size: 18px;
  color: #000000;
}
.todo-input {
  width: 24px;
  height: 24px;
  border: 1px solid #828282;
  border-radius: 4px;
}

.main-div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 10px;
}
